 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--text);
}

:root{
    --text: black;
    --bg: #f4f4f4;
    --nav-bg: white;
    --nav-sha:  rgba(34, 34, 34, 0.753);
}

[data-theme = "dark"]{
    --text: #e4e4e4 ;
    --bg: rgb(17, 17, 17);
    --nav-bg: black;
    --nav-sha: rgb(29, 29, 29);
}

body{
    overflow-x: hidden;
    background: var(--bg);
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background: var(--nav-bg);
    z-index: 10;
    box-shadow: 0 2px 5px 2px var(--nav-sha);

    .logo{
        margin-left: 5%;
    }

    .nav-links{
        margin-right: 5%;
        width: 7%;
        display: flex;
        justify-content: space-around;
    
        #status-icon{
            font-size: 30px;
        }
    }



    .switch {
    position: relative;
    display: inline-block;
    width: 60px;    
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
}

    // 

.header{
    width: 100%;
    height: 10vh;
}

.main-page{
    width: 100%;
    position: relative;
    height: 90vh;

    img{
        position: absolute;
        z-index: -1;
        top: 7%;
        width: 50vw;
        height: 50vh;
    }
    .text-section{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 15rem;
            font-family: 'Ranchers', cursive;
        }
    }
}

.card-page{
    width: 100%;
    height: 90vh;

    .header-card{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-cards{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    a{
        text-decoration: none;
    }
    .card{
        width: 22vw;
        height: 60vh;
        border-radius: 5px;
        background: var(--nav-bg);
        box-shadow: 1.5px 2px 5px 2px rgba(22, 22, 22, 0.76);
        transition: transform 0.1s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card:hover{
        transform: scale(1.02);
        box-shadow: 1.5px 2px 7px 5px rgba(22, 22, 22, 0.76);
    }
    .header-img{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            width: 90%;
            height: 90%;
        }
    }
    .title-card{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.img-grid-section{
    width: 100%;
    height: 90vh;

    .img-header{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-section{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .img{
            width: 30vw;    
            height: 35vh;
            margin: 20px;
            overflow: hidden;
        }
        
        .img img{
            width: 100%;    
            height: 100%;  
            transition: transform 0.2s;
            object-fit: cover;
        }

        .img img:hover{
         transform: scale(1.1);
        }

    }

}

.form-section{
    width: 100%;
    height: 90vh;

    .form-header{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-form{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        form{
            margin: auto;
            width: 60%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            input[ type = "text"],
            input[ type = "Email"],
            textarea{
                padding: 8px;
                border: 2px solid var(--text);
                border-top: none;
                border-left: none;
                border-right: none;
                background: var(--bg);
            }

            input[ type = "submit"]{
                width: 15%;
                padding: 8px;
                cursor: pointer;
                background: var(--text);
                border:2px var(--text);
                color: var(--bg);
                align-self: center;
                transition: 0.1s ease;
            }

            input[ type = "submit"]:hover{
                text-align: center;
                transform: scale(1.08);
            }
        }
    }
}

footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .right-section{
        width: 10%;
        display: flex;
        justify-content: space-around;

        .fab{
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 1370px){

    nav{
        .nav-links{
            width: 10%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 14rem;
            }
        }
    }

    .img-grid-section{
        height: 140vh;
    }
    .img-section{
        height: 130vh;
    }
}

@media screen and ( max-width: 1200px ){
   .main-page{
        .text-section{
            h1{
                font-size: 13rem;
            }
        }
    } 
}

@media screen and (max-width: 1000px){
    nav{
        .nav-links{
            width: 12%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 11rem;
            }
        }
    }
}

@media screen and (max-width:900px){
    nav{
        .nav-links{
            width: 13%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 10rem;
            }
        }
    }

    .card-page{
        height: 240vh;
        
        .main-cards{
            height: 240vh;
            flex-direction: column;

            .card{
                width: 33vw;
                height: 55vh;
            }
        }
    }

    .img-grid-section{
        height: 320vh;

        .img-section{
            height: 310vh;
            display: flex;
            flex-direction: column;
            flex-wrap: unset;
            align-items: center;
            justify-content: space-around;

            .img{
                width: 40vw;
                height: 45vh;
            }
        }
    }

}

@media screen and (max-width: 800px){
    nav{
        .nav-links{
            width: 14%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 9rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 35vw;   
            }
        }
    }
    footer{
        .right-section{
            width: 15%;
        }
    }
}
@media screen and (max-width: 700px){
    nav{
        .nav-links{
            width: 15%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 8rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 37vw;   
            }
        }
    }
    footer{
        .right-section{
            width: 20%;
        }
    }
}
@media screen and (max-width: 650px){
    nav{
        .nav-links{
            width: 16%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 7.5rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 40vw;   
            }
        }
    }

    .img-grid-section{
        .img-section{
            .img{
                width: 45vw;
            }
        }
    }
    footer{
        .right-section{
            width: 22%;
        }
    }
}

@media screen and (max-width: 600px){
    nav{
        .nav-links{
            width: 18%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 7rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 42vw;   
            }
        }
    }

    .img-grid-section{
        .img-section{
            .img{
                width: 48vw;
            }
        }
    }
    .form-section{
        .main-form{
            form{
                input[ type = "submit"]{
                width: 30%;
            }
        }
        }
    }
}

@media screen and (max-width: 550px){
    nav{
        .nav-links{
            width: 18%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 6.5rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 42vw;   
            }
        }
    }

    .img-grid-section{
        .img-section{
            .img{
                width: 47vw;
            }
        }
    }
    .form-section{
        .main-form{
            form{
                input[ type = "submit"]{
                width: 32%;
            }
        }
        }
    }
}
@media screen and (max-width: 500px){
    nav{
        .nav-links{
            width: 22%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 5rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 45vw;   
            }
        }
    }

    .img-grid-section{
        .img-section{
            .img{
                width: 50vw;
            }
        }
    }
    .form-section{
        .main-form{
            form{
                input[ type = "submit"]{
                width: 35%;
            }
        }
        }
    }
}

@media screen and (max-width: 500px){
    nav{
        .nav-links{
            width: 27%;
        }
    }

    .main-page{
        .text-section{
            h1{
                font-size: 4rem;
            }
        }
    }

    .card-page{
        .main-cards{
            .card{
                width: 66vw;   
                height: 50vh;
            }
        }
    }

    .img-grid-section{
        .img-section{
            .img{
                width: 58vw;
                height: 38vh;
            }
        }
    }
    footer{
        .right-section{
            width: 39%;
        }
    }
}